@model TheVault.Models.Item

@{
    ViewBag.Title = "Details";
}

<div>
<h2>Item</h2>

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Category.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Category.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Price)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ItemArtUrl)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ItemArtUrl)
    </dd>

</dl>

</div>