@model TheVault.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>

<div class="top-buffer">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a href="@Url.Action("Index", "Comments", new { id = Model.MessageID})" class="btn btn-primary">Get Comments</a>
    <a href="@Url.Action("Create","Comments", new { id = Model.MessageID})" class="btn btn-primary">Add Comment</a>
    <a href="@Url.Action("Index", "Messages")" class="btn btn-primary">Back to List</a>
</div>



