@model IEnumerable<TheVault.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Contact Us</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Add a Post</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
